{% extends "Base/base.html" %}
{% load staticfiles %}
{% block meta %}<meta data-location="blogs" />{% endblock %}
{% block title %} ASN | Blogs {% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href={% static "BlogPage/css/BlogPage.css" %}>
	<link href={% static "prism/prism.css" %} rel="stylesheet" type="text/css">
{% endblock %}

{% block navbar %}
	{% include "navbar/navbar.html" with class="expand"%}
{% endblock %}

{% block top_scripts %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>
	<script src={% static "prism/prism.js" %} type="text/javascript"></script>

{% endblock %}

{% block content %}
	<div id="content">
	</div>
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src={% static "BlogPage/js/reactPart.js"%} data-dynamicCallback="ReactGenerationCallback()"></script>
	<script type="text/javascript" src={% static "BlogPage/js/BlogPage.js"%}></script>
{% endblock %}
