{% load staticfiles %}

<link rel="stylesheet/less" type="text/css" href={% static "BlogPage/css/BlogPage.less" %}>

<div class="outerWrapper">
  {% for blog in blogs %}
    <div class="blog">
			<div class="wrapper">
				<div class="blogHeader">
        	<div class="title">
          	<h4>{{ blog.title }}</h4>
         	</div>
					<div class="details">
					 	<div class="author">
						 	- by {{ blog.author.name }}
					 	</div>
					 	<div class="timestamp">
						  on {{ blog.timestamp }}
					 	</div>
					</div>
				</div>
       	<div class="content">
         	<p class="collapsed">
						{{ blog.content|linebreaksbr}}
					</p>
					{% if blog.content|length > 1000 %}
						<div class="continue">
							<h4>Continue Reading</h4>
						</div>
					{% endif %}
       	</div>
			 <div class="blogFooter">
				 <div class="comments">
					<h4>Comments</h4>
				 </div>
				 <div class="images">
					 <h4>Images</h4>
				 </div>
				 <div class="code">
					<h4>Code</h4>
				 </div>
			 </div>
			</div>
    </div>
  {% endfor %}
</div>

<script type="text/javascript" src={% static "BlogPage/js/BlogPage.js"%}></script>
<script src={% static "less.js-master/dist/less.js" %} type="text/javascript"></script>
