{% extends "Base/base.html" %}
{% load staticfiles %}
{% block meta %}<meta data-location="home" />{% endblock %}
{% block title %}ASN | Home{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href={% static "HomePage/css/HomePage.css" %}>
{% endblock %}

{% block top_scripts%}
{% endblock %}

{% block navbar %}
	{% include "navbar/navbar.html" with class="expand"%}
{% endblock %}

{% block content %}
	A
	{%if request.user.is_anonymous %}
	  <button role="login" class="login">
	    Login
	  </button>
	{% else %}
	<a href={% url "log_out" %}>
	  Logout
	</a>
	{% endif %}
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src={% static "HomePage/js/HomePage.js"%}></script>
{% endblock %}
