{% extends "Base/base.html" %}
{% load staticfiles %}
{% block meta %}<meta data-location="login" />{% endblock %}
{% block title %} ASN | Blogs {% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href={% static "LoginPage/css/loginpage.css" %}>
{% endblock %}

{% block top_scripts %}
{% endblock %}

{% block navbar %}
	{% include "navbar/navbar.html" with class="collapsed" %}
{% endblock %}

{% block content %}
	<div id="content">
		FUCK THAT !!!
	</div>
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src={% static "LoginPage/js/loginpage.js" %}></script>
{% endblock %}
