{% extends "Base/base.html" %}
{% load staticfiles %}
{% block meta %}<meta data-location="events" />{% endblock %}
{% block title %}ASN | Events{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href={% static "EventPage/css/EventPage.css" %}>
{% endblock %}

{% block top_scripts%}
{% endblock %}

{% block content %}
<div class="viewPort">
	<div class="superCard superCard1">
		<div class="card card1">
			<div class="back">
				<i class="fa fa-angle-double-left"></i>
			</div>
		</div>
		<div class="cardData">

		</div>
	</div>
	<div class="superCard superCard2">
		<div class="card card2">
			<div class="back">
				<i class="fa fa-angle-double-left"></i>
			</div>
		</div>
		<div class="cardData">

		</div>
	</div>
	<div class="superCard superCard3">
		<div class="card card3">
			<div class="back">
				<i class="fa fa-angle-double-left"></i>
			</div>
		</div>
		<div class="cardData">

		</div>
	</div>
	<div class="superCard superCard4">
		<div class="card card4">
			<div class="back">
				<i class="fa fa-angle-double-left"></i>
			</div>
		</div>
		<div class="cardData">

		</div>
	</div>
	<div class="superCard superCard5">
		<div class="card card5">
			<div class="back">
				<i class="fa fa-angle-double-left"></i>
			</div>
		</div>
		<div class="cardData">

		</div>
	</div>
</div>

{% endblock %}

{% block scripts %}
	<script type="text/javascript" src={% static "EventPage/js/EventPage.js"%}></script>
{% endblock %}
